# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files and executables
.vscode
.idea
bbloc.*
cmake-build-debug
cmake-build-release
cmake-build-switch
raw
romfs/music

# C64 ROM images (copyright Commodore/Cloanto, from the VICE distribution — not
# OSP2's to redistribute; kept locally and baked into the .nro at build time)
romfs/roms

